<div class="px-4 pt-5 mt-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">Fictitious bank</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Veegil fullstack developer assessment. You are required to develop a simple fictitious banking application API. Design a simple user interface to consume the API. Navigate to your dashboard to see your current balance.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Get started</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Learn more</button>
        </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
        <div class="container px-5">
            <img src="../../assets/brand/vm-screenshot-min.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
        </div>
    </div>
</div>
<div class="container px-4 py-5" id="hanging-icons">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                <span class="bi" width="1em" height="1em"><i class="fa-brands fa-angular"></i></span>
            </div>
            <div>
                <h2>Angular</h2>
                <p>Veegil fullstack developer assessment. You are required to develop a simple fictitious banking application API. Design a simple user interface to consume the API. Navigate to your dashboard to see your current balance.</p>
                <a href="#" class="btn btn-primary">
                    Learn more
                </a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                <span class="bi" width="1em" height="1em"><i class="fa-brands fa-node"></i></span>
            </div>
            <div>
                <h2>NestJS</h2>
                <p>Veegil fullstack developer assessment. You are required to develop a simple fictitious banking application API. Design a simple user interface to consume the API. Navigate to your dashboard to see your current balance.</p>
                <a href="#" class="btn btn-primary">
                    Learn more
                </a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                <span class="bi" width="1em" height="1em"><i class="fa-solid fa-database"></i></span>
            </div>
            <div>
                <h2>MongoDB</h2>
                <p>Veegil fullstack developer assessment. You are required to develop a simple fictitious banking application API. Design a simple user interface to consume the API. Navigate to your dashboard to see your current balance.</p>
                <a href="#" class="btn btn-primary">
                    Learn more
                </a>
            </div>
        </div>
    </div>
</div>