<div class="px-4 py-5 my-5 text-center">
    <!--img class="d-block mx-auto mb-4" src="../../assets/brand/logo-30x30.png" alt="" width="57" height="57"-->
    <h1 class="display-5 fw-bold">Fictitious bank</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Veegil fullstack developer assessment. You are required to develop a simple fictitious banking application API. Design a simple user interface to consume the API. Navigate to your dashboard to see your current balance.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Get started</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Learn more</button>
        </div>
    </div>
</div>
<!--div class="body text-center">
    <main class="content">
        <h1>This is your Home</h1>
        <p>This is the home page for the banking application.</p>
        <p>Here you will find an introduction and instructions.</p>
    </main>
</div-->