<div class="px-4 pt-5 mt-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">Fictitious bank</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Veegil fullstack developer assessment. You are required to develop a simple fictitious banking application API. Design a simple user interface to consume the API. Navigate to your dashboard to see your current balance.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Get started</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Learn more</button>
        </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
        <div class="container px-5">
            <img src="../../assets/brand/vm-screenshot-min.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
        </div>
    </div>
</div>
<!--div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Columns with icons</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
            <div class="feature-icon bg-primary bg-gradient">
                <span class="bi" width="1em" height="1em"><i class="fa-solid fa-square-sliders"></i></span>
            </div>
            <h2>Featured title</h2>
            <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
            <a href="#" class="icon-link">
                Call to action
                <span width="1em" height="1em"><i class="fa-solid fa-chevron-right"></i></span>
            </a>
        </div>
        <div class="feature col">
            <div class="feature-icon bg-primary bg-gradient">
                <span class="bi" width="1em" height="1em"><i class="fa-solid fa-circle-user"></i></span>
            </div>
            <h2>Featured title</h2>
            <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
            <a href="#" class="icon-link">
                Call to action
                <span width="1em" height="1em"><i class="fa-solid fa-chevron-right"></i></span>
            </a>
        </div>
        <div class="feature col">
            <div class="feature-icon bg-primary bg-gradient">
                <span class="bi" width="1em" height="1em"><i class="fa-solid fa-toggle-on"></i></span>
            </div>
            <h2>Featured title</h2>
            <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
            <a href="#" class="icon-link">
                Call to action
                <span width="1em" height="1em"><i class="fa-solid fa-chevron-right"></i></span>
            </a>
        </div>
    </div>
</div-->
<div class="container px-4 py-5" id="hanging-icons">
    <!--h2 class="pb-2 border-bottom">Hanging icons</h2-->
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                <span class="bi" width="1em" height="1em"><i class="fa-solid fa-toggle-on"></i></span>
            </div>
            <div>
                <h2>Featured title</h2>
                <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                <a href="#" class="btn btn-primary">
                    Primary button
                </a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                <span class="bi" width="1em" height="1em"><i class="fa-solid fa-microchip"></i></span>
            </div>
            <div>
                <h2>Featured title</h2>
                <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                <a href="#" class="btn btn-primary">
                    Primary button
                </a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                <span class="bi" width="1em" height="1em"><i class="fa-solid fa-screwdriver-wrench"></i></span>
            </div>
            <div>
                <h2>Featured title</h2>
                <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                <a href="#" class="btn btn-primary">
                    Primary button
                </a>
            </div>
        </div>
    </div>
</div>
<!--div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Custom cards</h2>
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('../../assets/brand/unsplash-photo-1.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Short title, long jacket</h2>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                            <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                        </li>
                        <li class="d-flex align-items-center me-3">
                            <span class="bi me-2" width="1em" height="1em"><i class="fa-solid fa-map-pin"></i></span>
                            <small>Earth</small>
                        </li>
                        <li class="d-flex align-items-center">
                            <span class="bi me-2" width="1em" height="1em"><i class="fa-solid fa-calendar-days"></i></span>
                            <small>3d</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('../../assets/brand/unsplash-photo-2.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Much longer title that wraps to multiple lines</h2>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                            <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                        </li>
                        <li class="d-flex align-items-center me-3">
                            <span class="bi me-2" width="1em" height="1em"><i class="fa-solid fa-map-pin"></i></span>
                            <small>Pakistan</small>
                        </li>
                        <li class="d-flex align-items-center">
                            <span class="bi me-2" width="1em" height="1em"><i class="fa-solid fa-calendar-days"></i></span>
                            <small>4d</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('../../assets/brand/unsplash-photo-3.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Another longer title belongs here</h2>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                            <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                        </li>
                        <li class="d-flex align-items-center me-3">
                            <span class="bi me-2" width="1em" height="1em"><i class="fa-solid fa-map-pin"></i></span>
                            <small>California</small>
                        </li>
                        <li class="d-flex align-items-center">
                            <span class="bi me-2" width="1em" height="1em"><i class="fa-solid fa-calendar-days"></i></span>
                            <small>5d</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div-->
<!--div class="container px-4 py-5" id="icon-grid">
    <h2 class="pb-2 border-bottom">Icon grid</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
        <div class="col d-flex align-items-start">
            <span class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><i class="fa-brands fa-bootstrap"></i></span>
            <div>
                <h4 class="fw-bold mb-0">Featured title</h4>
                <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <span class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><i class="fa-solid fa-microchip"></i></span>
            <div>
                <h4 class="fw-bold mb-0">Featured title</h4>
                <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <span class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><i class="fa-solid fa-calendar-days"></i></span>
            <div>
                <h4 class="fw-bold mb-0">Featured title</h4>
                <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <span class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><i class="fa-solid fa-house-chimney"></i></span>
            <div>
                <h4 class="fw-bold mb-0">Featured title</h4>
                <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <span class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><i class="fa-solid fa-gauge"></i></span>
            <div>
                <h4 class="fw-bold mb-0">Featured title</h4>
                <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <span class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><i class="fa-solid fa-toggle-on"></i></span>
            <div>
                <h4 class="fw-bold mb-0">Featured title</h4>
                <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <span class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><i class="fa-solid fa-map-pin"></i></span>
            <div>
                <h4 class="fw-bold mb-0">Featured title</h4>
                <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <span class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><i class="fa-solid fa-screwdriver-wrench"></i></span>
            <div>
                <h4 class="fw-bold mb-0">Featured title</h4>
                <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
        </div>
    </div>
</div-->